{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="social-messaging">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                social messaging
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                why?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:100px; height:6px;" class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <img alt="social-messaging" src="{% static 'image/logo/sosial_messaging_left.png' %}" style="width: 200px; margin-top: 60px;" class="responsive-img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center">
                            <div class="desc">
                                Pencarian informasi berbasis chat social 
                                messaging melalui aplikasi Telegram dan 
                                Facebook.
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
        <div class="features">
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="title">
                                    features
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width: 120px; height:6px;" class="responsive-img">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="items">
                                    <p>Personal Information & Inquiries</p>
                                    <p>Locator untuk pencarian informasi yang akurat</p>
                                    <p>Contacts</p>
                                    <p>Media customer Support yang efektif dan mudah diakses</p>
                                    <p>Respon cepat dan otomatis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="items">
                                    Komunikasi dengan sentuhan pribadi ini yang membuat social messaging jadi media 
                                    komunikasi yang menarik untuk bisnis dan pengguna. Mencari informasi terasa seperti 
                                    berbicara dengan teman sendiri.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}