{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="title-word-template">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="title">
                        SPRINT ASIA
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="caption">
                        Solusi teknologi untuk pelayanan dan 
                        keamanan bisnis anda
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
    
    <div class="two-by-two-content-template">
        <div class="container"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="content-title">
                    our products
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <img alt="content-1-image" src="{% static 'image/illustration/sandeza.png' %}" width="241px" style="margin-top: 78px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-caption">
                                    sandeza
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-desc">
                                    Sandeza menggabungkan beberapa saluran komunikasi 
                                    digital ke satu platform terintegrasi yang 
                                    sangat mudah dalam menyampaikan setiap informasi 
                                    Anda ke dalam hati dan pikiran pelanggan Anda
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-dark">selengkapnya</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <img alt="content-1-image" src="{% static 'image/illustration/bayarind.png' %}" width="241px" style="margin-top: 78px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-caption">
                                    bayarind
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-desc">
                                    BayarInd adalah payment gateway dari Sprint Asia 
                                    yang menyuguhkan pengalaman pengguna terbaik, jaringan 
                                    pembayaran yang luas, serta fasilitas merchant support terintegrasi.
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-dark">selengkapnya</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <img alt="content-1-image" src="{% static 'image/illustration/sprint360.png' %}" width="223px" style="margin-top: 78px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-caption">
                                    sprint digital 360
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-desc">
                                    Solusi komunikasi digital terintegrasi untuk 
                                    menemukan dan mengembangkan keunggulan kompetitif 
                                    lewat berbagai media promosi dan sarana untuk menjangkau 
                                    target audiens yang tepat bagi bisnis dan brand Anda.
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-dark">selengkapnya</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <img alt="content-1-image" src="{% static 'image/illustration/mobilepay.png' %}" width="155px" style="margin-top: 78px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-caption">
                                    mobile payment
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content-desc">
                                    Transaksi finansial dan non-finansial interaktif 
                                    melalui pesan singkat dan aplikasi, dengan dukungan 
                                    infrastruktur terbaik dan pengalaman Sprint Asia Technology 
                                    dalam menyajikan kenyamanan bertransaksi yang optimal.
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-dark">selengkapnya</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="content-close">
                    more porducts
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <br>
    </div>

    <div class="two-by-one-content-template">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="text-center">
                    <div class="content-title">
                        trusted by merchants and banks in Indonesia
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="text-center">
                    <img alt="banks-and-merchants-1" src="{% static 'image/merchants/logoKlien.png' %}" style="margin-top: 52px; height: 102px;">
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-1"></div>
            <div class="col-lg-6 col-sm-10">
                <div class="text-center">
                    <img alt="banks-and-merchants-2" src="{% static 'image/merchants/logoKlien2.png' %}" style="height: 85px;">
                </div>
            </div>
            <div class="col-lg-3 col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="content-close">
                        and many more
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

    <div class="one-by-two-content-template">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="content-title">
                        <div class="text-center">
                            about
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-caption">
                                Just Send It
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-desc">
                                <p>
                                    Sandeza menggabungkan beberapa channel komunikasi 
                                    digital di dalam satu platform terintegrasi yang 
                                    sangat mudah digunakan untuk menyampaikan setiap 
                                    informasi Anda ke dalam hati dan pikiran pelanggan Anda.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-desc">
                                <p>
                                    Solusi paling efektif untuk menyampaikan informasi melalui 
                                    platform Omni channel messaging yang terintegrasi secara cerdas. 
                                    Fitur utama kami, Primary Back-up, akan membantu Anda untuk 
                                    memastikan informasi diterima oleh pelanggan Anda.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="zebra-content-template">
        <div class="gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="content-title">
                            <div class="text-center">
                                advantages
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content-title-desc">
                            <div class="text-center">
                                Menawarkan integrated channel yang skalabilitas, 
                                hemat biaya dan mudah digunakan untuk meningkatkan bisnis 
                                Anda dengan infrastruktur yang sangat aman.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-caption">
                                integrated channel
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-desc">
                                BayarInd adalah payment gateway dari Sprint 
                                Asia yang menyuguhkan pengalaman pengguna terbaik, 
                                jaringan pembayaran yang luas, serta fasilitas merchant 
                                support terintegrasi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-caption">
                                <br>
                                Primary Back-Up
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-desc">
                                Tidak perlu khawatir dengan menghabiskan 
                                biaya besar untuk mendapatkan cinta dari 
                                pelanggan. Fitur Primary Back-up kami akan 
                                membantu Anda untuk memaksimalkan penyampaian 
                                informasi dengan biaya yang lebih hemat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-caption">
                                Big Data
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-desc">
                                Kesulitan mengetahui karakteristik pelanggan Anda? 
                                Big Data kami siap mengolah data karakterisitik pelanggan 
                                dengan menjamin keamanan atas kebocoran data.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-caption">
                                Customizable Report
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="content-desc">
                                <br>
                                Anda dapat mengatur laporan yang dibutuhkan di 
                                Sandeza semudah menjentikkan jari Anda.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="request-demo-template">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-title">
                        <div class="text-center">
                            Request a Demo
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="content-desc">
                        <div class="text-center">
                            Sudahkah Anda siap untuk bertemu dengan aplikasi 
                            yang akan memudahkan marketing bisnis Anda?
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-dark" style="margin-bottom: 86px">Request a Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two-by-one-word-template">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="content-title">
                        <div class="text-center">
                            Content Lain
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <div class="two-by-two-image-template">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="content-title">
                        <div class="text-center">
                            Content Lain
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-9">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-9">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="three-by-one-content-template">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="content-title">
                        <div class="text-center">
                            Content Lain
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center">
                        <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="content-desc">
                            isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                            isi paragraf konten, isi paragraf konten, isi paragraf konten 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="content-desc">
                            isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                            isi paragraf konten, isi paragraf konten, isi paragraf konten 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="content-desc">
                            isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                            isi paragraf konten, isi paragraf konten, isi paragraf konten 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two-by-two-content-image-template">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="content-title">
                        <div class="text-center">
                            Content Lain
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                </div>
                <div class="col-lg-3">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten
                    </div>
                </div>
                <div class="col-lg-3">
                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                </div>
                <div class="col-lg-3">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                </div>
                <div class="col-lg-3">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten
                    </div>
                </div>
                <div class="col-lg-3">
                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                </div>
                <div class="col-lg-3">
                    <div class="content-desc">
                        isi paragraf konten, isi paragraf konten, isi paragraf konten, 
                        isi paragraf konten, isi paragraf konten, isi paragraf konten
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-content-template">
        <div class="row">
            <div class="col-lg-6">
                <div class="gray-background-left">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-caption">
                                <div class="text-center">
                                    Content Lain
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="text-center">
                                <img alt="white-square-template" src="{% static 'image/temp/white-square.png' %}" class="white-square-template">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="content-desc">
                                <div class="text-center">
                                    isi paragraf konten, isi paragraf konten
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-dark" style="margin-bottom: 86px">more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gray-background-right">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-caption">
                                <div class="text-center">
                                    Content Lain
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="text-center">
                                <img alt="white-square-template" src="{% static 'image/temp/white-square.png' %}" class="white-square-template">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="content-desc">
                                <div class="text-center">
                                    isi paragraf konten, isi paragraf konten
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-dark" style="margin-bottom: 86px">more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="gray-background-left">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-caption">
                                <div class="text-center">
                                    Content Lain
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="text-center">
                                <img alt="white-square-template" src="{% static 'image/temp/white-square.png' %}" class="white-square-template">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="content-desc">
                                <div class="text-center">
                                    isi paragraf konten, isi paragraf konten
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-dark" style="margin-bottom: 86px">more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gray-background-right">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-caption">
                                <div class="text-center">
                                    Content Lain
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="text-center">
                                <img alt="white-square-template" src="{% static 'image/temp/white-square.png' %}" class="white-square-template">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="content-desc">
                                <div class="text-center">
                                    isi paragraf konten, isi paragraf konten
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-dark" style="margin-bottom: 86px">more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="about">
        <div class="title-content-template">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content-title">
                            <div class="text-center">
                                about us
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-desc-template">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="content-caption">
                                Sprint adalah penyedia jasa infrastruktur digital dan teknologi 
                                yang memberikan inovasi kepada bisnis anda dengan layanan seperti 
                                transaksi mobile, advertising digital dan juga membantu integrasi 
                                pembayaran online kepada lebih dari 350 merchants yang bekerjasama 
                                dengan bank - bank besar seperti BCA, BRI, Bank Permata, BNI, MayBank dan lainnya.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="" src="{% static 'image/logo/sandeza-removebg.png' %}" style="width: 330px; margin-top: 110px;">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="" src="{% static 'image/logo/sprint-blue.png' %}" style="width: 257px; margin-top: 93px;">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="" src="{% static 'image/logo/bayarind.png' %}" style="width: 291px; margin-top: 118px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="content-one-by-two-template">
            <div class="container">
                <div class="row">
                    <div class="first">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        visi
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        Menjadi yang terdepan pada sektor digital ekonomi 
                                        Indonesia dengan memberikan pelayanan dan solusi teknologi ter-update.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="first">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        misi
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        Berintegritas tinggi dan berkomitmen penuh kepada klien dan mitra dengan 
                                        berorientasi pada hasil bisnis dengan kualitas terbaik dan inovatif.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="picture">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <div class="contact">
        <div class="title-template">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                contact us
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-caption">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption-title">
                            PT Sprint Asia Technology
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="caption-title-exp">
                            <div class="row">
                                <div class="col-lg-12">
                                    Jl. Raya RS Fatmawati No.7 Gandaria Utara,
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    Kebayoran Baru, Jakarta Selatan,
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    12140, Indonesia
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="caption-title-exp">
                            <div class="row">
                                <div class="col-lg-12">
                                    +62 21 2700 678
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    +62 21 2700 679
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    info@sprintasia.co.id
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-map-template">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0274097050315!2d106.79421911447588!3d-6.2601197954688175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f19fbac56e57%3A0xaf861d8dfc66e90c!2sPT.Sprint+Asia+Technology!5e0!3m2!1sid!2sid!4v1486614868628" width="1440px" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>

{% endblock %}